.card {
    padding: 24px;
    &.primary {
    border-radius: 12px;
    border: 1px solid #CAC4D0;
    background: #FEF7FF;
    }
    &.secondary {
    border-radius: 16px;
    background: #F5F5F5;
    }
}