<header class="app-header">
    <mat-toolbar>
        <div class="logo-box">
        <img class="logo " src="assets/imagens/logo-com-tagline.png" alt="Logo da aplicação Jornada">
        <span class="text-footer">Horário de atendimento: 08h - 20h (Segunda a Sábado)</span>
        <span class="text-footer">Desenvolvido por Alura. Projeto fictício sem fins comerciais.</span>
        </div>
        <span class="spacer"></span>
        <div class="text-redes">
        <span class="texto">Nossas Redes:</span> 
        <div class="social-box">
            <button mat-icon-button>
                <img src="assets/icons/Whatsapp.png" alt="Ícone do whatsapp">
              </button>
              <button mat-icon-button>
                <img src="assets/icons/Instragam.png" alt="Ícone do instagram">
              </button>
              <button mat-icon-button>
                <img src="assets/icons/Twitter.png" alt="Ícone do twitter">
              </button>
        </div>
        </div>

    </mat-toolbar>

</header>
